@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  h1 {
    @apply text-5xl font-bold mb-4;
  }
  h2 {
    @apply text-4xl mb-4;
  }
  h3 {
    @apply text-3xl mb-4;
  }
  h4 {
    @apply text-2xl mb-4;
  }
  h5 {
    @apply text-xl mb-4;
  }
  h6 {
    @apply text-lg mb-4;
  }
  p {
    @apply text-base;
  }
}

* {
  scroll-behavior: smooth;
  @apply text-white;
  @apply tracking-wide;
  @apply active:text-white;
}
html,
body {
  @apply bg-primary;
}

.mobile-design {
  @apply md:hidden;
}

.project-title {
  @apply text-xl sm:text-2xl font-bold mb-4;
}

.project-type {
  @apply text-[1.05rem] sm:text-lg font-medium;
}

.project-description .h1 {
  @apply text-4xl font-bold mb-8;
}

.project-description .h2 {
  @apply text-3xl mb-6;
}

.project-description .h3 {
  @apply text-2xl mb-6;
}

.project-description .h4 {
  @apply text-xl mb-4;
}

.project-description .h5 {
  @apply text-lg mb-4;
}

.project-description .h6 {
  @apply text-base mb-4;
}

.project-description p {
  @apply text-base mb-4;
}

.project-description ul {
  @apply list-disc list-inside mb-4;
}

.project-description ol {
  @apply list-decimal list-inside mb-4;
}

.project-description li {
  @apply mb-2;
}

.project-description a {
  @apply text-blue-400 hover:text-blue-500;
}

.project-description blockquote {
  @apply border-l-4 border-gray-400 pl-4 mb-4;
}

.project-description blockquote p {
  @apply italic;
}

.project-description code {
  @apply bg-gray-800 text-gray-100 p-2 rounded;
}

.project-description pre {
  @apply bg-gray-800 text-gray-100 p-2 rounded;
}

.project-description img {
  @apply rounded-lg;
}

.project-description hr {
  @apply my-4;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.home-gallery {
  @apply h-full grid grid-cols-1;
}

.home-gallery > div:nth-child(3n + 1) {
  @apply h-[30vh] sm:grid-cols-3;
}

.home-gallery > div:nth-child(3n + 2) {
  @apply h-[50vh] sm:col-span-2;
}

.home-gallery > div:nth-child(3n + 3) {
  @apply h-[70vh] sm:col-span-1;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.menu-item:hover {
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.9);
}

.indicators {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator.active {
  background-color: #bbb;
}

.morebox span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  margin: -8px;
  animation: morebox 3s infinite;
}

.morebox span:nth-child(2) {
  animation-delay: -0.3s;
}

@keyframes morebox {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
